.register-main-container {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff7f9;
    padding: 15px;
}

.register-container {
    border: 2px solid #000000;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 50vw;
    background-color: #fff7f9;
}

.register-header {
    margin-top: 5%;
    margin-bottom: 5%;
    font-style: normal;
    font-weight: 20%;
}

.register-form-container {
    display: flex;
    flex-direction: row;
}

.form-group-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}