.header {
  width: 100%;
  background: #227BFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8rem 2rem;
  color: white;
}

.logo img {
  height: 35px;
}

.nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.actions .btn {
  margin-left: .7rem;
  padding: .4rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: white;
  color: #227BFF;
  font-weight: 500;
}

.actions .btn.dark {
  background: #2c2c2c;
  color: white;
}
